body {
    background-color: rgb(20, 20, 20);
    color: white;
}

#navbar {
    margin: -8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: rgb(20, 20, 20);
    z-index: 1;
}

#name-header {
    font-size: 30px;
    margin: 6px 5px;
    float: left;
    font-family: 'Mochiy Pop One';
    color: #ef476f;
}

#input-box {
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px;
    width: 497px;
    background-color: rgb(52, 52, 52);
    border: none;
    color: white;
    outline: none;
    border-radius: 5px;
    font-family: 'Quicksand';
}

#search-button {
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand';
    background-color: rgb(20, 20, 20);
    color: white;
}

#container {
    border: 1px solid rgb(40, 40, 40);
    height: 486px;
    width: 497px;
    float: left;
    margin-left: 184px;
    margin-top: 65px;
    display: none;
    position: fixed;
    z-index: 1;
    font-family: 'Quicksand';
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    overflow-y: scroll;
}

#container::-webkit-scrollbar {
    width: 12px;
}

#container::-webkit-scrollbar-track {
    background: rgb(40, 40, 40);
}

#container::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
    border-radius: 20px;
}

.search-anime-cards {
    margin: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.search-anime-cards:hover {
    background-color: rgb(40, 40, 40);
    transition: 0.5s;
}

.search-anime-image {
    width: 137px;
    height: 200px;
    contain: content;
    border-radius: 5px;
    margin: 10px;
    object-fit: cover;
}

.search-anime-details-main-div {
    display: flex;
}

.search-anime-details {
    height: 173px;
    width: fit-content;
    margin: 10px;
    text-align: center;
}

.search-anime-title {
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 10px 10px;
    font-family: 'Quicksand';
    font-weight: 600;
    text-align: left;
}

.anime-title {
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 10px 10px;
    font-family: 'Quicksand';
    font-weight: 600;
    text-align: center;
}

.image {
    width: 207px;
    height: 270px;
    contain: content;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    object-fit: cover;
}

.broadcast-div {
    display: flex;
    flex-direction: row;
}


#currently-airing-header {
    float: left;
    display: inline;
    margin-top: 100px;
    font-family: 'Quicksand';
    font-size: 40px;
    margin-left: 20px;
}

#upcoming-anime-header,
#popular-anime-header,
#top-anime-header {
    float: left;
    display: inline;
    margin-top: 60px;
    font-family: 'Quicksand';
    font-size: 40px;
    margin-left: 20px;
}


#airing-now-container,
#top-anime-container,
#popular-anime-container,
#upcoming-anime-container {
    margin-top: 100px;
    display: grid;
    grid-auto-flow: column;
    contain: content;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.anime-cards {
    margin: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.airing-now-anime-cards {
    margin: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.airing-now-anime-cards:hover {
    background-color: rgb(40, 40, 40);
    transition: 0.5s;
}

.airing-now-image {
    width: 257px;
    height: 320px;
    contain: content;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 16px;
    border-radius: 10px;
    object-fit: cover;
}

.airing-now-anime-details {
    width: fit-content;
    margin: 10px;
    text-align: center;
    height: 242px;
}

.airing-now-details-table {
    width: 250px;
    margin: 10px 10px;
    font-family: 'Quicksand';
}

.airing-now-details-table tr {
    height: 30px;
}

.anime-cards:hover {
    background-color: rgb(40, 40, 40);
    transition: 0.5s;
}

.currently-airing-scroll-buttons {
    float: right;
    margin-top: 120px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.scroll-buttons {
    float: right;
    margin-top: 80px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    border: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.details-table {
    width: 200px;
    margin: 10px 10px;
    font-family: 'Quicksand';
}

.top-anime-details,
.pop-anime-details {
    height: 114px;
    width: fit-content;
    margin: 10px;
    font-family: 'Quicksand';
}

/* ----------------------------------------Anime full details div css--------------------------------------------------------- */

#anime-whole-div {
    margin-top: 69px;
    height: fit-content;
}

#anime-div,
#anime-full-details-div {
    display: none;
}

#title-div {
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#title-table {
    font-size: 30px;
    font-weight: 550;
    margin: 15px;
}

#title-table td:first-child {
    width: 160px;
}

#anime-outermost-details-div {
    display: flex;
    flex-direction: column;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}

#synopsis-div,
#relations-div {
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    font-family: 'Quicksand';
    font-size: 20px;
    text-align: left;
    background-color: rgb(40, 40, 40);
}

#relations-header {
    font-size: 30px;
    font-weight: 500;
    margin-left: 0px;
    text-align: center;
}

#synopsis-header {
    font-size: 30px;
    font-weight: 500;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 35px;
}

#relations-table tr {
    font-size: 20px;
    height: 40px;
}

#relations-table td:first-child {
    width: 135px;
}

#genre-div {
    font-size: 20px;
    float: left;
    width: fit-content;
    margin-left: 20px;
    margin-bottom: 20px;
}

#anime-details-main-div {
    display: flex;
    flex-direction: row;
}

#anime-stats-trailer-div {
    display: flex;
    flex-direction: column;
}

#anime-trailer-div {
    background-color: rgb(40, 40, 40);
    margin-right: 20px;
    border-radius: 20px;
}

#trailer-header,
#info-header,
#stats-header {
    font-family: 'Quicksand';
    font-weight: 500;
    margin: 20px;
    margin-bottom: 0px;
    font-size: 30px;
}

#link-img {
    width: 250px;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#anime-image {
    width: 400px;
    height: fit-content;
    float: left;
    margin: 20px;
    border-radius: 20px;
}

#banner-image {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#anime-stats-div {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    float: left;
    margin: 20px 0px;
    margin-right: 20px;
    background-color: rgb(40, 40, 40);
}

#trailer-link {
    margin: 0px 20px;
    margin-left: 0px;
    border: none;
    border-radius: 20px;
}

#anime-details-div {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    float: left;
    margin: 20px 0px;
    margin-right: 20px;
    background-color: rgb(40, 40, 40);
}

#anime-stats-table {
    font-family: 'Quicksand';
    font-size: 20px;
    margin: 20px;
}

#anime-info-table {
    font-family: 'Quicksand';
    font-size: 20px;
    margin: 20px;
}

#anime-stats-table tr,
#anime-info-table tr {
    height: 30px;
}

#anime-stats-table td:first-child,
#anime-info-table td:first-child {
    width: 110px;
}

#anime-stats-table td:last-child {
    width: 150px;
}

#anime-info-table td:last-child {
    width: 300px;
}

.title-elements:hover {
    cursor: pointer;
}

/* ------------------------------------------Media Queries------------------------------------------------------------ */

@media screen and (max-width: 981px) {
    #anime-whole-div {
        margin-top: -15px;
    }

    #name-header {
        font-size: 50px;
    }

    #search-button {
        font-size: 50px;
    }

    #input-box {
        font-size: 30px;
        padding: 20px;
    }

    #title-table {
        font-size: 40px;
    }

    #title-table td:first-child {
        width: 230px;
    }

    #anime-full-details-div {
        margin-top: 111px;
    }

    #anime-outermost-details-div {
        position: static;
        margin-top: 0px;
    }

    #title-div {
        position: static;
    }

    #genre-div {
        display: inline-flex;
        float: left;
        font-size: 30px;
    }

    #banner-image {
        left: 0;
        right: 0;
        margin: auto;
    }

    #synopsis-div,
    #relations-div {
        margin: 50px;
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        padding: 20px 50px;
    }

    #anime-details-main-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #anime-image {
        width: 500px;
    }

    #anime-stats-div {
        margin: 0px;
        width: 600px;
    }

    #anime-trailer-div {
        margin: 20px 0px;
        margin-bottom: 0px;
    }

    #anime-stats-table,
    #anime-info-table {
        font-size: 40px;
        width: 90%;
    }

    #anime-stats-table tr,
    #anime-info-table tr {
        height: 45px;
    }

    #anime-stats-table td:first-child,
    #anime-info-table td:first-child {
        text-align: left;
    }

    #anime-stats-table td:nth-child(2),
    #anime-info-table td:nth-child(2) {
        text-align: right;
    }

    #anime-details-div {
        margin: 0px;
        margin-top: 20px;
        width: 90%;
    }

    #relations-div {
        margin: 50px;
        margin-top: -30px;
    }

    #relations-header {
        margin-bottom: 40px;
    }

    #relations-table tr {
        font-size: 40px;
        height: 60px;
    }

    #relations-table td:first-child {
        width: 280px;
    }

    /* ---------------------------------------homepage media query----------------------------------------------------------------------*/

    #container {
        margin-top: 100px;
        margin-left: 293px;
        width: 496px;
    }

    .search-anime-title {
        font-size: 30px;
    }

    #anime-div {
        margin-bottom: 50px;
    }

    #currently-airing-header {
        margin-top: 150px;
        font-size: 50px;
    }

    .currently-airing-scroll-buttons {
        margin-top: 160px;
        font-size: 50px;
    }

    #airing-now-container,
    #popular-anime-container,
    #top-anime-container {
        overflow-x: auto;
    }

    .airing-now-anime-cards {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .airing-now-image {
        width: 400px;
        height: 463px;
        margin: 20px;
    }

    .airing-now-anime-details {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        margin-top: -10px;
    }

    .airing-now-details-table {
        width: 400px;
        margin: 10px 10px;
        font-family: 'Quicksand';
        font-size: 20px;
    }

    .airing-now-details-table tr {
        height: 50px;
    }

    .anime-title {
        margin: 0px;
        font-size: 30px;
    }

    #popular-anime-header,
    #top-anime-header,
    #trailer-header,
    #info-header,
    #stats-header {
        font-size: 50px;
    }

    .scroll-buttons {
        font-size: 50px;
        margin-top: 65px;
    }

    .anime-cards {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 350px;
        height: 410px;
        margin: 20px;
    }

    .pop-anime-details,
    .top-anime-details {
        margin-top: -10px;
        height: 129px;
    }

    .details-table {
        font-size: 20px;
    }

    .search-anime-details-table {
        font-size: 20px;
    }

    .search-anime-details-table tr {
        height: 32px;
    }
}